# Ignore sensitive API keys file
*APIs.py
*streamlit_test.py
*test_t5.py
*test_bart.py
*test3.py
*HOVED_APIS.py

!Text_Simplification.py



# Common Python files/directories to ignore
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.sqlite3
*.log
.vscode/
.idea/
*Datasets/
*datasets/